.header{
    background-color: black;
    position: sticky;
    z-index: 1;
    top: 0;
}
.header__img{
    width: 18%;
    margin-top: 1.389vw;
    margin-left: 5.556vw;
}
.menu{
    text-align: right;
    max-width: 83.33vw;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: white;
    font-size: 16pt;
    margin: 0;
    position: absolute;
    right: 6.944vw;
    top: 5.2vw;
}
.menu__li{
    padding: 1.39vw;
    padding-top: 0;
}
.menu a{
    color: #DFDFDF;
    text-decoration: none;
}
.menu a:hover{
    color: #28553F;
}

@media (max-width: 1024px) {
    .menu{
        font-size: 14pt;
    }    
}
@media (max-width: 900px) {
    .menu{
        font-size: 12pt;
    }    
}
@media (max-width: 768px) {
    .menu{
        font-size: 10pt;
    }    
}
@media (max-width: 635px) {
    .menu{
        font-size: 8pt;
    }    
}
@media (max-width: 500px) {
    .menu{
        font-size: 6pt;
    }    
}
@media (max-width: 400px) {
    .menu{
        font-size: 5pt;
    }    
}